<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.camping.mapper.NoticeMapper">

<select id="getList" resultType="com.camping.domain.NoticeVO">
<![CDATA[
select * from BOARD_NOTICE where BOARD_NO > 0
]]>
</select>

<insert id="insert">
	insert into BOARD_NOTICE (BOARD_NO, BOARD_TITLE, BOARD_CONTENT, MEM_ID)
	values (NOTICE_NO.nextval, #{board_title}, #{board_content}, #{mem_id})
</insert>

<insert id="insertSelectKey">
	<selectKey keyProperty="board_no" order="BEFORE" resultType="int">
		select NOTICE_NO.nextval from dual
	</selectKey>

	insert into BOARD_NOTICE (BOARD_NO, BOARD_TITLE, BOARD_CONTENT, MEM_ID)
	values (#{board_no}, #{board_title}, #{board_content}, #{mem_id})
</insert>

<select id="read" resultType="com.camping.domain.NoticeVO">
	select * from BOARD_NOTICE where BOARD_NO = #{board_no}
</select>

<delete id="delete">
	delete from BOARD_NOTICE where BOARD_NO = #{board_no}
</delete>

<update id="update">
	update BOARD_NOTICE
	set BOARD_TITLE = #{board_title},
	BOARD_CONTENT = #{board_content},
	MEM_ID = #{mem_id},
	BOARD_UPDATEDATE = SYSDATE
	where BOARD_NO = #{board_no}
</update>

<update id="plusCnt" parameterType="int">
	update BOARD_NOTICE
	set BOARD_HIT = BOARD_HIT + 1
	WHERE BOARD_NO = #{board_no}
</update>

</mapper>			